.logo{
	background:url(../img/fotos-ie.jpg) top center no-repeat;
	width: 823px;
	height: 588px;
	position: absolute;
	top: 90px;
	left: 50%;
	margin-left: -412px;
	display: block;
}

.texto-inicial{
	width: 1000px;
	position: absolute;
	top: 735px;
	left: 50%;
	margin-left:-500px;
	display: block;

}

.texto-inical p{
	font-family: 'Bree Serif', serif;
	font-size: 18px
	color:#ccc; 
	margin-left: 6%;
}