
/*--tipografias--
font-family: 'Oswald', sans-serif;
font-family: 'Bree Serif', serif;-*/


/*------REGLAS GENERALES------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* msj de error del formulario */
.error{
	font-family: 'Oswald', arial, sans-serif;
	text-transform: uppercase;
}
body, html {
	width:100%;
	height:100%;
}

.invisible{
	display: none;
}


.wow { visibility: hidden; }



/*-------MENU FIJO-------*/

.header{
	display: none;
}

.menu-p ul{
	list-style-type: none;
}

.menu-p a{
	text-decoration:none;
	float: left;
	text-transform: uppercase;
	padding: 12px 56px;
	margin: auto;
	color: #fff;
	font-family: 'Oswald', arial, sans-serif;
	font-size:24px;
}

.menu-p a:hover{
	background-color: #fff;
	color:#000;
	transition: all 350ms ease-in-out;    
}

#important:hover{
	background-color: #f7c31e;
	color:#000;
	transition: all 200ms ease-out;
}

.menu-p{
	position: fixed;
	top: 0;
	z-index: 3000;
	background-color:#000;
	width: 100%;
	height: 56px;
	text-align: center;
	display: block;
}

/*-------LOGO ALUMBRA--------*/

.logo{
	background:url(../img/ALUMBRA-FINAL.png) top center no-repeat;
	display: none;
}

.logo-principal{
	position: absolute;
	display: block;
	top: 52%;
	left: 50%;
	margin-left: -450px;
	margin-top: -390px; 


}

/*------CONTENIDO-------*/
.texto-inicial{
	display: none;
}
.univ{
	width: 1000px;
	position: absolute;
	top: 760px;
	left: 50%;
	margin-left:-500px;
}
.univ p{
	font-family: 'Bree Serif', serif;
	font-size: 18px
	color:#ccc; 
	margin-left: 6%;
}

.contenedor-1{
	top: 800px;
	position: absolute;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
}


.mision-vision{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color:#000;
}


/*------LUGAR-------*/

.over{
	background-color:rgba(0,0,0,0.6);
	width: 100%;
	height: 1550px;
	position: absolute;
	top: 1100px;
	z-index: 200;
}
.imagen-fija{
	background: url(../img/fotos.jpg) top center no-repeat;
	width: 100%;
	height: 1550px;
	background-attachment: fixed;
	background-size: cover;
	top: 1100px;
	position: absolute;
}

.lugar{
	font-family: 'Oswald', sans-serif;
	font-size:18px;
	color:#000;
	padding: 10px 40px;
	background-color:#fff;
	border:2px solid #000;
	position: absolute;
	top: 110px;
	z-index: 500;
	left: 6%;

}

.fecha{
	font-family: 'Oswald', sans-serif;
	font-size:18px;
	color:#000;
	padding: 10px 40px;
	background-color:#fff;
	border:2px solid #000;
	position: absolute;
	top: 110px;
	z-index: 500;
	right: 6%;

}
/*-------FORMULARIO PARA CERTIFICADOS---------*/

.datos-necesarios{
	width: 900px;
	height: 620px;
	top: 1400px;
	left: 50%;
	position:absolute;
	margin-left:-450px; 
	background-color:rgba(0,0,0,0.8);
	z-index: 2000;
}

.campo-1 label{
	position:relative;
	top: 30px;
	left: 60px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #fff;
} 

.campo-1 input{
	position: relative;
	top: 60px;
	left: 10px;
	margin-left: 12px;
	background: none;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:3px solid #fff;
	width: 280px;
	padding: 10px;
	font-family: 'Bree Serif', serif;
	color:#f7c31e;
	font-size:20px;
}

.campo-2 label{
	position:relative;
	top: 140px;
	left: 60px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #fff;
}

.campo-2 input{
	position: relative;
	top: 170px;
	left: 10px;
	background: none;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:3px solid #fff;
	width: 280px;
	padding: 10px;
	font-family: 'Bree Serif', serif;
	color:#f7c31e;
	font-size:20px;
}

.campo-3 label{
	position:relative;
	top: 210px;
	left: 60px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #fff;
}

.campo-3 input{
	position: relative;
	top: 240px;
	left: 10px;
	background: none;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:3px solid #fff;
	width: 780px;
	padding: 10px;
	font-family: 'Bree Serif', serif;
	color:#f7c31e;
	font-size:20px;
}


.campo-3 button{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: #000;
	background:#fff;
	border: none;
	border-radius:2px;
	position: relative;
	left: 720px;
	top: 360px;
	padding: 8px 16px;
	cursor: pointer;

}

.campo-3 button:hover{
	color:#fff;
	background: #000;
	border:3px solid #fff;
	transform: scale(1.2);
	transition: all ease-in-out 300ms; 
}

.campo-1 input:focus, .campo-2 input:focus, .campo-3 input:focus {
	border-bottom:3px solid #f7c31e;
	transition: all ease-out 300ms;
}
.contenedor-formulario{
	position: absolute;
	top: 2100px;
	width: 1000px;
	height: 500px;
	left: 50%;
	margin-left:-500px;
	z-index:2000;
}

.contenedor-formulario p{
	font-family: 'Bree Serif', serif;
	font-size: 22px;
	color:#f7c31e;
	text-transform: uppercase;
}

.estilo-formulario{
	background-color:rgba(0,0,0,0.8);
	width: 900px;
	height: 350px;
	position: absolute;
	left: 50%;
	margin-left: -450px;
}

.estilo-formulario label{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color:#fff;
	position: absolute;
	left:95px;
	top: 88px;
	padding: 8px;
}


.estilo-formulario input{
	padding: 5px;
	width: 280px;
	height: 35px;
	font-family: 'Bree Serif', serif;
	color:#f7c31e;
	font-size:20px;
	top: 114px;
	left: 95px;
	position: absolute;
	background: none;
	border-bottom: 3px solid #fff;
	border-top:none;
	border-right:none;
	border-left: none; 


}

.estilo-formulario input:focus{
	border-bottom:3px solid #f7c31e;
	transition: all ease-out 300ms;
}

.estilo-formulario button{
	position: absolute;
	top: 168px;
	left: 220px;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	padding: 8px 6px;
	color:#000;
	background-color: #fff;
	border:none;
	border-radius:2px;
	cursor: pointer;
	transform: scale(1);
}

.estilo-formulario button:hover{
	color:#fff;
	background: #000;
	border:3px solid #fff;
	transform: scale(1.2);
	transition: all ease-in-out 300ms; 
}



.certificado{
	background:url(../img/recoonocimiento.png)top center no-repeat;
	width: 320px;
	height: 200px;
	position: absolute;
	top: 60px;
	right: 100px;
}

/*----------MODAL-------------*/

.contenedor-modal{
	z-index: 40000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background:rgba(0,0,0,0.9);
	opacity: 0;
	pointer-events: none;
}

.mostrar-modal{
	opacity:1;
	pointer-events: all;
}

.cerrar-modal{
	font-size: 30px;
	top: 0;
	right: 0;
	position: absolute;
	margin-right:80px;
	margin-top:80px;
	color:#fff;
	font-family: 'Oswald', sans-serif;
	cursor:pointer;

}
	.info{
	font-size: 15px;
	top: 0;
	right: 0;
	position: absolute;
	margin-right:150px;
	margin-top:20px;
	color:#f7c31e;
	font-family: 'Oswald', sans-serif;
	}
		.info:hover{
			color:#f7c31e;
			transform: scale(1.1);
			transition: all 300ms ease-out;
		}

.cerrar-modal:hover{
	color:#f7c31e;
	transform: scale(1.4);
	transition: all 300ms ease-out;
}

.modal-certificados{
	width: 300px;
	height: 640px;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left:50%;
	margin-left: -150px;
	margin-top:-320px;
	background:#fff;
}

.contenido-modal p{
	margin: 20px 10px; 
	font-size: 22px;
	font-family: 'Oswald', sans-serif;
	text-align: center;

}
.codigo{
	width: 240px;
	height: 240px;
	border-radius: 10px;
	border:4px solid #f7c31e;
	position: absolute;
	top: 140px;
	left: 50%;
	margin-left:-120px;
}

.caso-b{
	margin: 20px 30px; 
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	position: absolute;
	top: 420px;

}
.caso-b button{
	border:none;
	border-radius:8px;
	background:#000;
	color:#fff;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	padding: 10px 12px;
	top: 100px;
	left: 50%;
	margin-left: -50px;
	position: absolute;
	cursor:pointer;
}


.caso-b button:hover{
	border:2px solid #000;
	background: #f7c31e;
	color:#000;
	transform: scale(1.2);
	transition:all 320ms ease-in-out;

}


/*----------CELULAS UNIVERSITARIAS-------------*/

.celulas{
	background: url(../img/pie.jpg)top center no-repeat;
	background-size:cover; 
	width: 100%;
	height: 420px;
	position: absolute;
	top: 2800px;
}
.texto-logos{
	color:#fff;
	font-size: 22px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	padding: 30px;
	top: 20px;
}

.contenedor-logos{
	width: 1120px;
	height: 100px;
	top: 85px;
	left: 50%;
	margin-left: -500px;
	position: absolute;
}

.logo-1, .logo-2, .logo-3, .logo-4, .logo-5, .logo-6, .logo-7, .logo-8, .logo-9{
	width: 110px;
	height: 110px;
	border-radius:110px;
	margin: 4px;
	float: left;
}

.l-1, .l-2, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9{
	width: 100px;
	margin:12px;
}

.pie{
	width: 100%;
	height: 40px;
	position: absolute;
	top: 220px;

}
.pie p{
	font-family: 'Oswald', sans-serif;
	font-size:18px;
	color: #fff;
	margin-left: 40px;
	padding: 5px 10px;
}
