@media screen and (max-width: 480px){

	.menu-p{
		display: none;
	}


/*-------MENU HAMBURGUESA---------*/

	.header{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 20000;
}
	.abrir .menu-phone li {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	.abrir.menu-icon{
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);		
	} 
	.abrir .menu-icon span:nth-child(1) {
		width: 0%;
		left: 50%;
		top: 10px;


}

	.abrir .menu-icon span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
}


	.abrir .menu-icon span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
}

	.abrir .menu-icon span:nth-child(4) {
		width: 0%;
		left: 50%;
		top: 10px;
}

	.menu-phone {
		z-index: 20000;
		height: auto;
		width: 150px;
		margin: 0 0 0 30px;
}

	.menu-phone li {
		display: block;
		height: 35px;
		width: 150px;
		margin: 5px 0;
		border-radius: 5px;
		overflow: hidden;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		-webkit-transition: all 200ms ease-out;
		transition: all 200ms ease-out;
}

.menu-phone li:nth-child(2) {
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
}

.menu-phone li:nth-child(3) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

	.menu-phone li a{
		display: block;
		font-family: 'Oswald', sans-serif;
		font-size: 12px;
		color: #fff;
		text-decoration: none;
		text-align: center;
		text-transform: lowercase;
		background-color: #000;
		padding: 6px 6px;
		border-radius: 5px;
}

	.menu-icon {
		height: 25px;
		width: 35px;
		margin: 30px;
		position: relative;
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		cursor: pointer;
}

	.menu-icon span {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: #000;
		border-radius: 5px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
  top: 0px;
}

.menu-icon span:nth-child(2), .menu-icon span:nth-child(3) {
  top: 10px;
}

.menu-icon span:nth-child(4) {
  top: 20px;
}


/*------------LOGO PRINCIPAL------------*/

.logo-principal{
	display: block;
	left: 50%;
	position: absolute;
	margin-left: -150px;
	width: 300px;

}

/*------CONTENIDO-------*/

.univ{
	width: 300px;
	position: absolute;
	top: 300px;
	left: 50%;
	margin-left:-150px;
}
.univ p{
	font-family: 'Bree Serif', serif;
	font-size: 10px;
	color:#000; 
	margin-left: 6%;
	text-align: center;
}

.contenedor-1{
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 360px;
}


.mision-vision{
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	color:#000;
}

/*------LUGAR-------*/

.over{
	width: 100%;
	height: 1300px;
	top: 700px;
	z-index: 200;
}
.imagen-fija{
	width: 100%;
	height: 1300px;
	top: 700px;
	position: absolute;
}

.lugar{
	font-family: 'Oswald', sans-serif;
	font-size:12px;
	color:#000;
	padding: 6px 25px;
	top: 60px;
	position: absolute;
	left:50%;
	margin-left: -145px; 

}

.fecha{
	font-family: 'Oswald', sans-serif;
	font-size:12px;
	color:#000;
	padding: 6px 25px;
	top: 228px;
	position: absolute;
	left:50%;
	margin-left: -113px;
	width: 225px;

}


/*-----------FORMULARIO----------*/

.datos-necesarios{
	width: 300px;
	height: 600px;
	top: 800px;
	left: 50%;
	position:absolute;
	margin-left:-150px; 
	background-color:rgba(0,0,0,0.8);
	z-index: 2000;
}



.contenedor-formulario{
	top: 1400px;
	width: 300px;
	height: 500px;
	left: 50%;
	margin-left:-150px;
}

.contenedor-formulario p{
	font-family: 'Bree Serif', serif;
	font-size: 16px;
}

.estilo-formulario{
	background-color:rgba(0,0,0,0.8);
	width: 280px;
	height: 380px;
	position: absolute;
	left: 50%;
	margin-left: -140px;
}

.estilo-formulario label{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color:#fff;
	position: absolute;
	left:20px;
	top: 40px;
}


.estilo-formulario input{
	width: 195px;
	height: 28px;
	font-family: 'Bree Serif', serif;
	color:#f7c31e;
	font-size:16px;
	top: 80px;
	left: 40px;
	position: absolute;


}

.estilo-formulario button{
	position: absolute;
	top: 130px;
	left: 64px;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	padding: 8px 4px;
	color:#000;
	background-color: #fff;
	border:none;
	border-radius:4px;
	cursor: pointer;
	transform: scale(1);
}




.certificado{
	background:url(../img/recoonocimiento.png)top center no-repeat;
	width: 237px;
	height: 155px;
	background-size:cover; 
	position: absolute;
	top: 200px;
	left: 14px;
}


/*-----------CELULAS----------*/

.celulas{
	background: #000;
	width: 100%;
	height: 580px;
	position: absolute;
	top: 2000px;
}
.texto-logos{
	color:#fff;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	left: 50%;
	margin-left: -100px;
}

.contenedor-logos{
	width: 250px;
	height: 350px;
	top: 35px;
	left: 50%;
	margin-left: -125px;
	position: absolute;
}
.contenedor-2-logo{
	width: 250px;
	left: 50%;
	margin-left: -125px;
	position: absolute;
	top: 240px;
}

.pie{
	width: 100%;
	height: 40px;
	position: absolute;
	background: none;
	top: 600px;

}
.pie p{
	font-family: 'Oswald', sans-serif;
	font-size:12px;
	color: #fff;
	margin-left: 40px;
	padding: 5px 10px;
}




}