@media screen and (max-width: 1000px){

.logo{
	display: block;
	background:url(../img/ALUMBRA-FINAL.png) top center no-repeat;
	width: 650px;
	height: 466px;
	background-size: cover;
	top: 90px;
	left: 50%;
	margin-left: -330px;
	position: absolute;
}

.logo-principal{
	display:none;
}

.univ{
	width: 100%;
	top: 620px;
	position: absolute;
	margin: 0px;
}


/*-----------MENU----------*/
.menu-p a{
	text-decoration:none;
	float: left;
	text-transform: uppercase;
	padding: 8px 40px;
	margin: auto;
	color: #fff;
	font-family: 'Oswald', arial, sans-serif;
	font-size:20px;
}

.menu-p{
	position: fixed;
	top: 0;
	z-index: 3000;
	background-color:#000;
	width: 100%;
	height: 56px;
	text-align: center;
}
/*-----------CONTENIDO----------*/

.contenedor-1{
	width: 850px;
	left: 50%;
	margin-left: -425px;
}

.lugar{
	font-size:16px;
	padding: 8px 25px;
}


.fecha{
	font-size:16px;
	padding: 8px 25px;
}

.univ{
	width: 850px;
	position: absolute;
	top: 680px;
	left: 50%;
	margin-left:-425px;

}
.univ p{
	font-family: 'Bree Serif', serif;
	font-size: 16px
	color:#ccc; 
	margin-left: 5%;
}


/*-----------FORMULARIO----------*/

.contenedor-formulario{
	position: absolute;
	top: 1470px;
	width: 850px;
	height: 500px;
	left: 50%;
	margin-left:-425px;
}

.contenedor-formulario p{
	font-size: 20px;
}


}


@media screen and (max-width: 780px){

/*-----------MENU FIJO----------*/

.menu-p{
	background:#f7c31e;
	width: 100%;
	height: 46px;
}

.menu-p a{
	padding: 10px 38px;
	color: #fff;
	font-size:20px;
}

.menu-p a:hover{
	background-color: #fff;
	color:#000;
	transition: all 350ms ease-in-out;    
}

#important:hover{
	background-color: #000;
	color:#f7c31e;
	transition: all 200ms ease-out;
}

/*------CONTENIDO-------*/

.univ{
	width: 600px;
	position: absolute;
	top: 508px;
	left: 50%;
	margin-left:-300px;
}
.univ p{
	font-family: 'Bree Serif', serif;
	margin-left: 6%;
}

.contenedor-1{
	width: 600px;
	left: 50%;
	margin-left: -300px;
	top: 620px;
}

.mision-vision{
	font-size: 18px;
}

/*-------LOGO ALUMBRA--------*/

.logo-principal{
	top: 55%;
	left: 50%;
	width: 600px;
	margin-left: -300px;

}

/*------LUGAR-------*/

.over{
	background-color:rgba(0,0,0,0.6);
	width: 100%;
	height: 1300px;
	position: absolute;
	top: 900px;
	z-index: 200;
}
.imagen-fija{
	background: url(../img/fotos.jpg) top center no-repeat;
	width: 100%;
	height: 1300px;
	background-attachment: fixed;
	background-size: cover;
	top: 900px;
	position: absolute;
}

.lugar{
	font-family: 'Oswald', sans-serif;
	font-size:18px;
	padding: 6px 25px;
	top: 80px;
	left: 50%;
	margin-left: -206px;

}

.fecha{
	font-family: 'Oswald', sans-serif;
	font-size:18px;
	padding: 6px 25px;
	top: 230px;
	left: 50%;
	width: 330px;
	margin-left:-160px;

}

/*-------FORMULARIO PARA CERTIFICADOS---------*/


.datos-necesarios{
	width: 600px;
	height: 400px;
	top: 1200px;
	left: 50%;
	position:absolute;
	margin-left:-300px; 
	background-color:rgba(0,0,0,0.8);
	z-index: 2000;
}

.campo-1 input{
	width: 180px;
	margin-left: -40px;
	padding: 8px;
	top: 50px;
}

.campo-1 label{
	top: 20px;
	left: 30px;
}

.campo-2 input{
	width: 180px;
	margin-left: -40px;
	padding: 8px;
	top: 110px;
}

.campo-2 label{
	top: 80px;
	left: 30px;
}

.campo-3 input{
	width: 500px;
	margin-left: -40px;
	padding: 8px;
	top: 170px;
}

.campo-3 label{
	top: 140px;
	left: 30px;
}

.campo-3 button{
	left:460px;
	top: 190px;
}


.contenedor-formulario{
	position: absolute;
	top: 1700px;
	width: 600px;
	height: 400px;
	left: 50%;
	margin-left:-300px;
}

.contenedor-formulario p{
	font-size: 18px;
	color:#f7c31e;
}

.estilo-formulario{
	background-color:rgba(0,0,0,0.8);
	width: 600px;
	height: 280px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
}

.estilo-formulario label{
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	color:#fff;
	position: absolute;
	left:40px;
	top: 60px;
}


.estilo-formulario input{
	width: 260px;
	height: 30px;
	font-family: 'Bree Serif', serif;
	color:#f7c31e;
	font-size:18px;
	top: 90px;
	left: 40px;
	position: absolute;


}

.estilo-formulario button{
	position: absolute;
	top: 140px;
	left: 166px;
	font-family: 'Oswald', sans-serif;
	font-size:15px;
	padding: 8px 4px;
	color:#000;
	background-color: #fff;
	border:none;
	border-radius:4px;
	cursor: pointer;
	transform: scale(1);
}

.estilo-formulario button:hover{
	color: #fff;
	background-color: #f7c31e;
	transition: all 300ms ease-out;
	transform: scale(1.1);
}


.certificado{
	background:url(../img/recoonocimiento.png)top center no-repeat;
	width: 320px;
	height: 200px;
	position: absolute;
	top: 40px;
	right: 55px;
}

/*----------CELULAS UNIVERSITARIAS-------------*/

.celulas{
	background: #f7c31e;
	width: 100%;
	height: 430px;
	position: absolute;
	top: 2300px;
}
.texto-logos{
	color:#fff;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	left: 50%;
	margin-left: -101px;
	top: 2px;
}

.contenedor-logos{
	width: 550px;
	height: 400px;
	top: 35px;
	left: 50%;
	margin-left: -250px;
	position: absolute;
}

.l-1, ..l-2, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9{
	width: 80px;
}


.logo-1, .logo-2, .logo-3, .logo-4{
	width: 100px;
	height: 100px;
	border-radius:100px;
	margin: 4px;
	float: left;
}

.contenedor-2-logo{
	width: 550px;
	left: 50%;
	margin-left: -330px;
	position: absolute;
	top: 120px;
}
.logo-5, .logo-6, .logo-7, .logo-8, .logo-9{
	width: 100px;
	height: 100px;
	border-radius:100px;
	margin: 4px;
	float: left;
}

.pie{
	width: 100%;
	height: 40px;
	background-color: #f7c31e;
	position: absolute;
	top: 280px;

}
.pie p{
	font-family: 'Oswald', sans-serif;
	font-size:12px;
	color: #fff;
	margin-left: 4px;
	padding: 8px 10px;
}


}